<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Map browser</title>
    <meta http-equiv='imagetoolbar' content='no'/>
    <style type="text/css"> v\:* {behavior:url(#default#VML);}
        html, body { overflow: hidden; padding: 0; height: 100%; width: 100%; font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif; }
        body { margin: 10px; background: #fff; }
        h1 { margin: 0; padding: 6px; border:0; font-size: 20pt; }
        #header { height: 43px; padding: 0; background-color: #eee; border: 1px solid #888; }
        #map { height: 90%; border: 1px solid #888; }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@3.5.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.5.0/src/ol-layerswitcher.css" />
</head>
<body>
    <div id="header"><h1>Map browser</h1></div>
    <div id="map" class="map"></div>
    <div id="mouse-position"></div>
    <script type="text/javascript">
        var mousePositionControl = new ol.control.MousePosition({
            className: 'custom-mouse-position',
            target: document.getElementById('mouse-position'),
            undefinedHTML: '&nbsp;'
        });
        var map = new ol.Map({
            controls: ol.control.defaults().extend([mousePositionControl]),
            target: 'map',

            layers: [
                new ol.layer.Group({
                        title: 'Base maps',
                        layers: [
                            new ol.layer.Tile({
                                title: 'OpenStreetMap',
                                type: 'base',
                                visible: true,
                                source: new ol.source.OSM()
                            }),
                            new ol.layer.Tile({
                                title: 'empty',
                                type: 'base'
                            })
                        ]
                }),
                new ol.layer.Group({
                    title: 'Single maps',
                    visible: false,
                    layers: [
                        {% for dir in single_maps %}
                        {% include 'tms_layer.html' %}
                        {% endfor %}
                    ]
                }),
                {% for group_name,map_dirs in map_groups.items() %}
                new ol.layer.Group({
                    title: '{{group_name}}',
                    visible: false,
                    layers: [
                        {% for dir in map_dirs %}
                        {% include 'tms_layer.html' %}
                        {% endfor %}
                    ]
                }),
                {% endfor %}
                new ol.layer.Group({
                    title: 'Vector maps',
                    layers: [
                        {% for map in vector_maps %}
                        {% include 'vector_layer.html' %}
                        {% endfor %}
                ]
                }),
            ],
            view: new ol.View({
                center: [7.082621, 51.873619],
                zoom: 5,
                projection: 'EPSG:4326',
            })
        });
        map.addControl(new ol.control.LayerSwitcher());
    </script>
</body>
</html>